@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-mona-sans);
	--font-mono: var(--font-geist-mono);
	--font-eb-garamond: var(--font-eb-garamond);
	--font-merriweather: var(--font-merriweather);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--radius-2xl: calc(var(--radius) + 8px);
	--radius-3xl: calc(var(--radius) + 12px);
	--radius-4xl: calc(var(--radius) + 16px);
	--radius: 0.625rem;
	--tracking-tighter: calc(var(--tracking-normal) - 0.05em);
	--tracking-tight: calc(var(--tracking-normal) - 0.025em);
	--tracking-wide: calc(var(--tracking-normal) + 0.025em);
	--tracking-wider: calc(var(--tracking-normal) + 0.05em);
	--tracking-widest: calc(var(--tracking-normal) + 0.1em);
	--tracking-normal: var(--tracking-normal);
	--shadow-2xl: var(--shadow-2xl);
	--shadow-xl: var(--shadow-xl);
	--shadow-lg: var(--shadow-lg);
	--shadow-md: var(--shadow-md);
	--shadow: var(--shadow);
	--shadow-sm: var(--shadow-sm);
	--shadow-xs: var(--shadow-xs);
	--shadow-2xs: var(--shadow-2xs);
	--spacing: var(--spacing);
	--letter-spacing: var(--letter-spacing);
	--shadow-offset-y: var(--shadow-offset-y);
	--shadow-offset-x: var(--shadow-offset-x);
	--shadow-spread: var(--shadow-spread);
	--shadow-blur: var(--shadow-blur);
	--shadow-opacity: var(--shadow-opacity);
	--shadow-color: var(--shadow-color);
	--color-destructive-foreground: var(--destructive-foreground);
}

:root {
	--background: oklch(0.9465 0.0058 84.5666);
	--foreground: oklch(0.209 0 0);
	--card: oklch(0.9734 0.0029 84.559);
	--card-foreground: oklch(0.209 0 0);
	--popover: oklch(0.9734 0.0029 84.559);
	--popover-foreground: oklch(0.209 0 0);
	--primary: oklch(0.209 0 0);
	--primary-foreground: oklch(0.9465 0.0058 84.5666);
	--secondary: oklch(0.3208 0.0685 120.9702);
	--secondary-foreground: oklch(0.9465 0.0058 84.5666);
	--muted: oklch(0.9107 0.0116 84.5799);
	--muted-foreground: oklch(0.4676 0 0);
	--accent: oklch(0.3846 0.0844 121.1161);
	--accent-foreground: oklch(0.9465 0.0058 84.5666);
	--destructive: oklch(0.5166 0.1097 31.3791);
	--border: oklch(0.8834 0.0105 81.7942);
	--input: oklch(0.8834 0.0105 81.7942);
	--ring: oklch(0.3208 0.0685 120.9702);
	--chart-1: oklch(0.209 0 0);
	--chart-2: oklch(0.3208 0.0685 120.9702);
	--chart-3: oklch(0.3846 0.0844 121.1161);
	--chart-4: oklch(0.632 0.0132 79.7581);
	--chart-5: oklch(0.7524 0.0225 85.9553);
	--radius: 0.625rem;
	--sidebar: oklch(0.9581 0.0041 91.4469);
	--sidebar-foreground: oklch(0.209 0 0);
	--sidebar-primary: oklch(0.209 0 0);
	--sidebar-primary-foreground: oklch(0.9465 0.0058 84.5666);
	--sidebar-accent: oklch(0.3208 0.0685 120.9702);
	--sidebar-accent-foreground: oklch(0.9465 0.0058 84.5666);
	--sidebar-border: oklch(0.8834 0.0105 81.7942);
	--sidebar-ring: oklch(0.209 0 0);
	--destructive-foreground: oklch(0.9861 0.0034 67.7838);
	--shadow-color: 0 0 0;
	--shadow-opacity: 0.04;
	--shadow-blur: 15px;
	--shadow-spread: 0px;
	--shadow-offset-x: 0px;
	--shadow-offset-y: 6px;
	--letter-spacing: -0.01em;
	--spacing: 0.25rem;
	--shadow-2xs: 0px 6px 15px 0px hsl(0 0 0 / 0.02);
	--shadow-xs: 0px 6px 15px 0px hsl(0 0 0 / 0.02);
	--shadow-sm:
		0px 6px 15px 0px hsl(0 0 0 / 0.04), 0px 1px 2px -1px hsl(0 0 0 / 0.04);
	--shadow:
		0px 6px 15px 0px hsl(0 0 0 / 0.04), 0px 1px 2px -1px hsl(0 0 0 / 0.04);
	--shadow-md:
		0px 6px 15px 0px hsl(0 0 0 / 0.04), 0px 2px 4px -1px hsl(0 0 0 / 0.04);
	--shadow-lg:
		0px 6px 15px 0px hsl(0 0 0 / 0.04), 0px 4px 6px -1px hsl(0 0 0 / 0.04);
	--shadow-xl:
		0px 6px 15px 0px hsl(0 0 0 / 0.04), 0px 8px 10px -1px hsl(0 0 0 / 0.04);
	--shadow-2xl: 0px 6px 15px 0px hsl(0 0 0 / 0.1);
	--tracking-normal: 0em;
}

.dark {
	--background: oklch(0.209 0 0);
	--foreground: oklch(0.9465 0.0058 84.5666);
	--card: oklch(0.235 0 0);
	--card-foreground: oklch(0.9465 0.0058 84.5666);
	--popover: oklch(0.235 0 0);
	--popover-foreground: oklch(0.9465 0.0058 84.5666);
	--primary: oklch(0.9465 0.0058 84.5666);
	--primary-foreground: oklch(0.209 0 0);
	--secondary: oklch(0.3208 0.0685 120.9702);
	--secondary-foreground: oklch(0.9465 0.0058 84.5666);
	--muted: oklch(0.2686 0 0);
	--muted-foreground: oklch(0.709 0 0);
	--accent: oklch(0.3846 0.0844 121.1161);
	--accent-foreground: oklch(0.9465 0.0058 84.5666);
	--destructive: oklch(0.3799 0.0926 30.964);
	--border: oklch(0.2972 0 0);
	--input: oklch(0.2972 0 0);
	--ring: oklch(0.9465 0.0058 84.5666);
	--chart-1: oklch(0.9465 0.0058 84.5666);
	--chart-2: oklch(0.3208 0.0685 120.9702);
	--chart-3: oklch(0.3846 0.0844 121.1161);
	--chart-4: oklch(0.8532 0.0164 82.7908);
	--chart-5: oklch(0.632 0.0132 79.7581);
	--sidebar: oklch(0.1957 0 0);
	--sidebar-foreground: oklch(0.9465 0.0058 84.5666);
	--sidebar-primary: oklch(0.9465 0.0058 84.5666);
	--sidebar-primary-foreground: oklch(0.209 0 0);
	--sidebar-accent: oklch(0.3208 0.0685 120.9702);
	--sidebar-accent-foreground: oklch(0.9465 0.0058 84.5666);
	--sidebar-border: oklch(0.2972 0 0);
	--sidebar-ring: oklch(0.9465 0.0058 84.5666);
	--destructive-foreground: oklch(0.9465 0.0058 84.5666);
	--radius: 0.625rem;
	--shadow-color: 0 0 0;
	--shadow-opacity: 0.3;
	--shadow-blur: 25px;
	--shadow-spread: 0px;
	--shadow-offset-x: 0px;
	--shadow-offset-y: 12px;
	--letter-spacing: 0em;
	--spacing: 0.25rem;
	--shadow-2xs: 0px 12px 25px 0px hsl(0 0 0 / 0.15);
	--shadow-xs: 0px 12px 25px 0px hsl(0 0 0 / 0.15);
	--shadow-sm:
		0px 12px 25px 0px hsl(0 0 0 / 0.3), 0px 1px 2px -1px hsl(0 0 0 / 0.3);
	--shadow:
		0px 12px 25px 0px hsl(0 0 0 / 0.3), 0px 1px 2px -1px hsl(0 0 0 / 0.3);
	--shadow-md:
		0px 12px 25px 0px hsl(0 0 0 / 0.3), 0px 2px 4px -1px hsl(0 0 0 / 0.3);
	--shadow-lg:
		0px 12px 25px 0px hsl(0 0 0 / 0.3), 0px 4px 6px -1px hsl(0 0 0 / 0.3);
	--shadow-xl:
		0px 12px 25px 0px hsl(0 0 0 / 0.3), 0px 8px 10px -1px hsl(0 0 0 / 0.3);
	--shadow-2xl: 0px 12px 25px 0px hsl(0 0 0 / 0.75);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	html,
	body {
		@apply bg-background text-foreground;
	}

	button:not(:disabled),
	[role="button"]:not(:disabled) {
		cursor: pointer;
	}

	::-webkit-scrollbar {
		width: 5px;
	}
	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: var(--border);
		border-radius: 5px;
	}

	* {
		scrollbar-width: thin;
		scrollbar-color: var(--border) transparent;
	}
	body {
		letter-spacing: var(--tracking-normal);
	}
}
